<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.bloodglucose.api.ApiApplication" />
    <module name="api" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>